# Frontend Specific Files
node_modules/
dist/
build/
.vite/
*.local
package-lock.json

# Backend/Python Specific Files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
env/
*.egg-info/
.pytest_cache/

# Environment Variables
.env
.env.local
.env.*.local

# Pipeline Specific Files
out/
Pipeline/volumes/chroma/*
Pipeline/volumes/redis/*

# Docker
*.log
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

NCIIPC_Critical_Sectors_Organisations.xlsx

NCIIPC_Critical_Sectors_Organisations.csv

dump_all.json
PS-02_YOUR-APP-ID_Submission/*